<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Password</title>
</head>
<body>
    <h1>Update Password</h1>
    <form action="/update" method="POST">
    <div class="mb-3" >
        <label for="uname">Username:</label><br>
        <input type="text" id="uname" name="uname" value=""><br>
    </div>
    <div class="mb-3">
        <label for="psw">Password:</label><br>
        <input type="password" id="psw" name="psw" value=""><br><br>
    </div>
    <div class="mb-3">
        <label for="newpsw">New Password:</label><br>
        <input type="password" id="newpsw" name="newpsw" value=""><br><br>
    </div>
        <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
      </form>
    
</body>
</html>